.img_slide {
    height: 400px;
    width: 800px;
    object-fit: cover;
}

.link_agenda {
    display: flex;
    gap: 20px;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.link_yellow {
    width: 100%;
}

.botones_yellow {
    width: 300px;
}

.title_form {
    text-align: center;
    margin: 0 auto 20px auto;
}

.fondo_logos {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}

.fondo_logos img {
    height: 130px;
    width: auto;
}

.texto_vacantes {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #36A2BC;
    padding: 5px 30px;
    border-radius: 10px;
}

.formulario_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 510px;
}

.texto_matricula {
    margin-top: 50px;
    background-color: rgb(255 191 31);
    color: #525252;
}

#contactForm {
    margin-top: 30px;
    width: 320px;
}

#slider_2 {
    background-color: #36A2BC;
}

#slider_1 .swiper-wrapper div {
    background-color: antiquewhite;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider_1 {
    height: 530px;
    margin: 0;
}

#input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
    width: 270px;
}

#slider_4 {
    width: 300px;
}

#sld1_img_1, #sld1_img_2, #sld1_img_3, #sld1_img_4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#submitButton {
    color: #525252;
}

.carabayllo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(37 99 235);
    width: 30%;
    padding: 15px 0;
    border-radius: 20px;
    margin: auto;
}

.parrafo_vacantes {
    width: 70% !important;
}

.texto_matricula {
    font-size: 30px;
}

.banner_desktop, .banner_medio, .banner_mediogrande, .banner_600 {
    display: none;
}

@media (min-width: 320px) {
    .parrafo_vacantes {
        width: 100% !important;
    }

    .texto_vacantes {
        font-size: 18px !important;
        padding: 5px 10px;
    }

    .carabayllo {
        width: 90%;
        margin-bottom: 20px;
        font-size: 22px;
    }

    .texto_matricula {
        margin-top: 30px;
    }

    #lema_header {
        display: none;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #FFF;
    }

    main {
        margin-top: 111.41px;
    }
}

@media (min-width: 380px) {
    .banner_desktop, .banner_movil, .banner_mediogrande {
        display: none;
    }

    .banner_medio {
        display: inline-block;
    }
}

@media (min-width: 400px) {
    #slider_1 .swiper-wrapper div, #contactForm {
        width: 370px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
        width: 330px;
    }
}

@media (min-width: 424px) {
    #slider_1 {
        height: 680px;
    }
}

@media (min-width: 470px) {
    .carabayllo {
        width: 450px;
    }
}

@media (min-width: 500px) {
    #contactForm {
        width: 450px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
        width: 400px;
    }

    #slider_4 {
        width: 370px;
    }

    .parrafo_vacantes {
        width: 100% !important;
    }

    .texto_vacantes {
        font-size: 18px !important;
        padding: 5px 10px;
    }

    #slider_1 {
        height: 680px;
    }
}

@media (min-width: 550px) {
    #slider_1 {
        height: 750px;
    }
}

@media (min-width: 600px) {
    #slider_1 {
        height: 630px;
    }

    .texto_vacantes {
        font-size: 22px !important;
    }

    .banner_desktop, .banner_movil, .banner_medio {
        display: none;
    }

    .banner_mediogrande {
        display: inline-block;
    }
}

@media (min-width: 690px) {
    #slider_1 {
        height: 730px;
    }
}

@media (min-width: 740px) {
    #slider_1 {
        height: 790px;
    }
}

@media (min-width: 770px) {
    #slider_1 {
        height: 1000px;
    }

    .banner_desktop, .banner_movil, .banner_mediogrande {
        display: none;
    }

    .banner_medio {
        display: inline-block;
    }

    #lema_header {
        display: inline-flex;
    }
}

@media (min-width: 800px) {
    #slider_1 {
        height: 1200px;
    }
}

@media (min-width: 950px) {
    #slider_1 {
        height: 650px;
    }

    .banner_medio, .banner_movil, .banner_mediogrande {
        display: none;
    }

    .banner_desktop {
        display: inline-block;
    }
}

@media (min-width: 700px) {
    #slider_4 {
        width: 450px;
    }

    #slider_1 .swiper-wrapper div {
        width: 450px;
    }

    .texto_vacantes {
        padding: 7px 25px;
    }

    #contactForm {
        padding-top: 25px;
    }
}

@media (min-width: 800px) {
    .formulario_container {
        height: 570px;
    }

    .carabayllo {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .carabayllo {
        font-size: 40px;
        width: 600px;
    }

    main {
        margin-top: 131.59px;
    }

    .formulario_container {
        height: 600px;
        width: 45%;
        padding-left: 50px;
    }

    #slider_1 {
        width: 55%;
        height: 600px;
    }

    .banner_desktop, .banner_movil, .banner_medio {
        display: none;
    }

    .banner_mediogrande {
        display: inline-block;
    }

    #slider_4 {
        width: 900px;
    }

    #contactForm {
        width: 380px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
        width: 350px;
    }

    .texto_vacantes {
        padding: 7px 15px;
    }
}

@media (min-width: 1100px) {
    .banner_medio, .banner_desktop, .banner_movil, .banner_mediogrande {
        display: none;
    }

    .banner_600 {
        display: inline-block;
    }
}

@media (min-width: 1300px) {
    .formulario_container {
        width: 40%;
    }

    #slider_1 {
        width: 60%;
    }

    #slider_1 .swiper-wrapper div {
        width: 500px;
        height: 100%;
    }

    .texto_matricula {
        margin-top: 90px;
    }
}

@media (min-width: 1300px) {
    #contactForm {
        width: 440px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
        width: 410px;
    }

    #submitButton {
        margin-top: 15px;
    }

    .parrafo_vacantes {
        font-size: 20px;
    }

    .formulario_container {
        height: 700px;
    }

    #slider_1 {
        height: 700px;
    }
}

@media (min-width: 1400px) {
    #slider_1 .swiper-wrapper div {
        width: 600px;
        height: 100%;
    }

    .texto_vacantes {
        font-size: 25px !important;
    }

    .texto_matricula {
        margin: 70px 0 20px 0;
    }
}

@media (min-width: 1500px) {
    #contactForm {
        width: 550px;
        margin-top: 80px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
        width: 500px;
    }

    #submitButton {
        margin-top: 25px;
    }

    #slider_1 .swiper-wrapper div {
        width: 800px;
        height: 100%;
    }

    .formulario_container {
        height: 750px;
    }

    #slider_1 {
        height: 750px;
    }

    #slider_4 {
        width: 1300px;
    }

    .texto_vacantes {
        font-size: 30px !important;
    }

    .texto_matricula {
        margin: 70px 0 0 0;
    }

    #contactForm {
        margin-top: 40px;
        width: 500px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #label_nivel, #input_nivel, #id_consentimiento {
        width: 430px;
    }
}

@media (min-width: 1536px) {
    .texto_vacantes {
        font-size: 25px !important;
    }

    .formulario_container {
        padding-left: 60px;
    }
}

@media (min-width: 1600px) {
    .formulario_container {
        padding-left: 75px;
    }
}

@media (min-width: 1700px) {
    .formulario_container {
        padding-left: 80px;
    }

    .banner_medio, .banner_600, .banner_movil, .banner_mediogrande {
        display: none;
    }

    .banner_desktop {
        display: inline-block;
    }

    #slider_1, .formulario_container {
        height: 650px;
    }
}

@media (min-width: 1750px) {
    #contactForm {
        width: 550px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #input_nivel {
        width: 480px;
        height: 50px;
        font-size: 15px;
    }

    #input_email, #input_celular {
        height: 50px;
        font-size: 15px;
    }
}

@media (min-width: 1850px) {
    #contactForm {
        width: 580px;
    }

    #input_nombre, #container_correo_telefono, #input_dni, #input_nivel {
        width: 510px;
    }

    #slider_1, .formulario_container {
        height: 680px;
    }
}