.img_slide {
    height: 400px;
    width: 800px;
    object-fit: cover;
}

.link_agenda {
    display: flex;
    gap: 20px;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.link_yellow {
    width: 100%;
}

.botones_yellow {
    width: 300px;
}

.title_form {
    text-align: center;
    margin: 0 auto 20px auto;
}

.fondo_logos {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}

.fondo_logos img {
    height: 130px;
    width: auto;
}